/* import google fonts: zen dots, source sans pro, rubik */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Zen+Dots&display=swap');

/*
font-family: 'Rubik', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Zen Dots', sans-serif;
*/

* {
    margin:0;
    padding:0;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
}

#top{
    background-color:#632123;
}
#title {
    display:flex;
    justify-content: center;
    align-items: center;

    padding:15px;
    text-align:center;
    text-decoration: none;
}
#title img {
    padding:0 10px;
    width:81px;
}
#title h1 {
    color:white;
    font-family: 'Zen Dots', sans-serif;
    font-size:36px;
}

#btns {
    display:flex;
    justify-content: center;

    padding:15px;
    background-color:#383838;
}
.button {
    margin:0 15px;
    padding:8px 20px;

    border:none;
    border-radius: 10px;
    background-color:#c7c7c7;
    background-image: url("images/button-bg.png");
    background-size: auto 100%;

    font-size:24px;
    font-family: 'Rubik', sans-serif;
}
.button-clicked {
    background-color:#808080;
    background-image: url("images/button-bg-clicked.png");
}


/* starting text on workorders.html */
#starting-text {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    width:100vw;
    height:calc(100vh - 176px);
}
#starting-text p {
    margin:8px;
    font-size:1.5em;
}


/* work orders */
.work-order-head {
    margin:20px auto;
    padding:10px 15px;
    border:3px solid #cccccc;
    border-radius:10px;
    width:80vw;
    background-color:#cccccc;
    font-weight: 700;
}
.work-order-head .wo-disp-title {
    font-weight: 700;
}
.work-order {
    margin:10px auto;
    padding:10px 15px;
    border:3px solid #aaaaaa;
    border-radius:10px;
    width:80vw;

    transition-duration: 0.25s;
}
.work-order:hover {
    border:5px solid #777777;
    background-color:#eeeeee;
}
.wo-disp-num, .wo-disp-title, .wo-disp-requester, .wo-disp-location, .wo-disp-status {
    display:inline-block;
    font-size:20px;
}
.wo-disp-num {
    width:10%;
}
.wo-disp-title {
    width:40%;
    font-weight: 600;
}
.wo-disp-requester {
    width:25%;
}
.wo-disp-location {
    width:12%;
}
.wo-disp-status {
    width:10%;
}

.work-order-info-buttons {
    margin:10px auto;
    width:80vw;
}
.work-order-info, .work-order-notes {
    margin:10px auto;
    padding:10px 15px;
    border:5px solid #777777;
    border-radius:10px;
    width:80vw;
}
.wo-view-num, .wo-view-title, .wo-view-status, .wo-view-requester, .wo-view-requester-email, .wo-view-location, .wo-view-room-num, .wo-view-description, .wo-view-req-item, .wo-view-req-item-price {
    display:inline-block;
    font-size:20px;
}
.work-order-info h3 {
    margin-top:20px;
}
.wo-view-num, .wo-view-req-item {
    margin-right:20px;
}
.wo-view-title {
    font-weight: 600;
}
.wo-view-status {
    float: right;
}
.wo-view-requester {
    width:30%;
}
.wo-view-requester-email {
    width:45%;
}
.wo-view-location {
    width:13%;
}
.wo-view-room-num {
    width:10%;
}
.wo-view-req-item-price {
    font-weight: 300;
}
#no-notes {
    font-size:20px;
    font-weight: 300;
}
.wo-view-note {
    margin-top:20px;
    margin-bottom:10px;
    font-size:20px;
}
#new-note {
    margin-left: calc(10vw + 15px);
}


/* submit work order */
#create-buttons-title {
    margin:10px;
    text-align: center;
}
#create-buttons {
    display:flex;
    justify-content: center;
    padding:15px;
}

.form {
    width:60%;
    margin:40px auto;
    font-size:20px;
}
fieldset {
    padding:5px;
}

#submitter-name, #submitter-email, #wo-room-number, #wo-asset, #wo-manufacturer, #wo-model, #wo-title {
    height:21px;
}
#wo-location, #wo-item {
    height:25px;
}
#submitter-name {
    width:calc(100% - 156px);
}
#submitter-email {
    width:calc(100% - 128px);
}
#wo-room-number {
    width:calc(100% - 454px);
}
#wo-asset {
    width:calc(100% - 161px);
}
#wo-manufacturer {
    width:calc(100% - 123px);
} 
#wo-model {
    width:calc(100% - 191px);
} 
#wo-title {
    width:calc(100% - 48px);
}

#create-wo {
    margin-top:20px;
    padding:5px 15px;

    border:3px solid #383838;
    border-radius: 10px;
    background-color:#c7c7c7;
    background-image: url("images/button-bg.png");
    background-size: auto 100%;

    font-size:20px;
    font-family: 'Rubik', sans-serif;
}